@namespace laaa url(http://www.lexis-nexis.com/laaa);
@namespace lnci url(http://www.lexis-nexis.com/lnci);
@namespace lnv url(http://www.lexis-nexis.com/lnv);
@namespace lnvxe url(http://www.lexis-nexis.com/lnvxe);

#detail {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#detail-panel {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

emph[typestyle=un] {
    text-decoration: underline;
}

emph[typestyle=iu] {
    font-style: italic;
    text-decoration: underline;
}

emph[typestyle=smcaps] {
    font-variant: small-caps;
}

emph[typestyle=it] {
    font-style: italic;
}

emph[typestyle=ib] {
    font-style: italic;
    font-weight: bold;
}

emph[typestyle=hi] {
    background-color: gray;
}

emph[typestyle=bu] {
    font-weight: bold;
    text-decoration: underline;
}

emph[typestyle=biu] {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

emph[typestyle=bf] {
    font-weight: bold;
}

lnci|cite[triggerLanguage] {
    border: 1px solid orange;
}

lnci|cite[triggerLanguage][class~=highlighted], lnci|cite[triggerLanguage]:hover {
    box-shadow: inset 0 -.4em orange;
}

lnci|cite {
    font-weight: bold;
}

lnci|cite[class~=case] {
    color: blue;
}

lnci|cite[class~=stat], lnci|cite[class~=constitution], lnci|cite[class~=reg], lnci|cite[class~=courtrule] {
    color: maroon;
}

lnci|cite[class~=lawrev] {
    color: navy;
}

lnci|cite[class~=agencydecision] {
    color: violet;
}

laaa|treatmentTrigger[project=followedBy], laaa|treatmentTrigger:not([project]) {
    background-color: #FFF8D8;
}

laaa|treatmentTrigger[class~=highlighted] laaa|treatmentTrigger {
    background-color: inherit;
}

laaa|treatmentTrigger[class~=highlighted] {
    background-color: orange;
}

lnvxe|h {
    display: block;
    /* font-weight: bold; */
    margin-top: 1em;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

p[hasTreatmentLanguage="true"] {
    background-color: rgb(216, 216, 255);
}

span[class~=letter] {
    color: #FF00FF;
    vertical-align: super;
    font-size: .8em;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span[class~=section]{
    color: #FF00FF;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right:1em;
}

.citesWithTriggerLanguage{
    margin-left:.4em;
    border: solid 1px gray;
    padding:.4em;
}

lnvxe|footnote, lnvxe|blockquote {
    margin-left: 2em;
    display: block;
}

lnvxe|footnote p {
    display: inline;
    margin-left: .4em;
}

lnvxe|fnr, lnvxe|fnlabel {
    vertical-align: super;
    font-size: .8em;
}

COURTCASE>* {
    display: block;
}

COURTCASE{
    display:block;
    margin-top:1em;
}

lnv|NUMBER, lnv|SHORT-NAME, lnv|PUB-STATUS, lnv|SYS-AUDIT-1, lnv|SYS-AUDIT-2, lnv|SYS-FILE-CODE, lnv|SYS-PROD-INFO, lnv|SYS-AUDIT-TRAIL, docinfo,
lnv|RECEIVED-DATE, lnv|PAGE-NO, lnv|SA-CLASSIFICATN, sys-info, roundTrippingMetadata{
    display: none;
}